@import 'styles/variables.scss';

.PortfolioRow {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid $color-dark__separator;
  background-color: $color-dark__background;

  > .LinkItem {
    display: flex;
    line-height: 30px;
    vertical-align: middle;
    > a {
      color: var(--color-yellow-logo-light);
      margin-right: 20px;
    }
  }

  > .PortfolioData {
    position: relative;
    flex: 1;

    .SymbolCell {
      text-align: center !important;
    }

    .ag-floating-bottom-viewport {
      .SymbolCell {
        text-align: right !important;
        border-right: 1px solid $color-dark__separator !important;
      }
    }
  }
}
