<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/"/>
    <meta charset="utf-8"/>
    <title>COMMUNICATOR</title>
</head>

<body onload="onReady()">
<noscript> You need to enable JavaScript to run this app.</noscript>
<div id="root" class="notranslate"></div>
<script type="application/javascript">
  var endOrigin = "###ENDORIGIN###";

  function sendMessage(msg, origin) {
    window.parent.postMessage(msg, origin);
  }

  function onMessage(e) {
    console.log(e, e.isTrusted, e.origin, endOrigin);
    var data = e.data;
    if (e.origin.endsWith(endOrigin) && e.isTrusted) {
      console.log('receive', e.data);
      if (data.method === 'getItem') {
        var result = window.localStorage.getItem(data.param);
        sendMessage({
          msgId: data.msgId,
          data: result,
        }, e.origin);
      } else if (data.method === 'setItem') {
        window.localStorage.setItem(data.param.key, data.param.value);
        sendMessage({
          msgId: data.msgId,
        }, e.origin);
      } else if (data.method === 'removeItem') {
        window.localStorage.removeItem(data.param);
        sendMessage({
          msgId: data.msgId,
        }, e.origin);
      }
    }
  }

  function onReady() {
    console.log('init communicator');
    window.addEventListener("message", onMessage);
  }

</script>
</body>
</html>
