@import 'styles/variables.scss';

.AssetInformation {
  position: relative;
  height: 100%;
  width: 100%;
  > .TabTable {
    border: none !important;
    background-color: transparent !important;
    .TabBoard {
      .TabAccount {
        display: flex;
        align-items: center;
        color: $color-gray-4;
        padding: 10px 15px;
        background-color: var(--color-dark__bg-module);
        > p {
          margin: 0;
        }
        > div {
          width: 250px;
          margin-left: 10px;
        }
      }
    }
  }
}

@-moz-document url-prefix() {
  table {
    border-collapse: separate !important;
    border-spacing: 1px;
  }
}
