@import 'styles/variables.scss';

.MainIndice {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  > .IndexBoard {
    > .TabTable {
      > .TabContent {
        > .tab-pane {
          > .TabBoard {
            .ag-root {
              .ag-header {
                height: 0px !important;
                min-height: 0px !important;
              }
            }
          }
        }
      }
    }
  }

  > .SettingButton {
    position: absolute;
    top: 5px;
    right: 35px;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    background-color: $color-dark__background;
    border-radius: 3px;
    cursor: pointer;
    > svg {
      width: 10px;
    }
    &.Active {
      > svg {
        color: var(--color-yellow-logo-light);
      }
    }
  }

  > .CollapseButton {
    position: absolute;
    top: 5px;
    right: 10px;
  }

  #PopoverMainIndex {
    background-color: var(--color-dark__bg-module);
    border: 1px solid $color-dark__separator;
    border-radius: 3px;
    width: 116px;
    height: 262px;
    .arrow {
      &::before {
        border-bottom-color: $color-dark__separator;
      }
      &::after {
        border-bottom-color: var(--color-dark__bg-module);
      }
    }
    .IndexItem {
      height: 26px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      &:not(:last-child) {
        border-bottom: 1px solid $color-dark__separator;
      }

      > .IndexName {
        line-height: 26px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover {
          background-color: var(--color-dark__title-module);
        }
      }
    }
  }
}
