@import 'styles/variables.scss';

.Step1 {
  margin-top: 60px;
  animation: fadeInDown 0.8s;
  .Title {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 16px;
  }
  .SelectInvestor {
    display: flex;
    height: 100px;
    .VN,
    .NN {
      flex: 1;
      position: relative;
      .SelectBox {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 20px;
        width: 100%;
        max-width: 360px;
        padding: 26px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
        border-radius: 3px;
        cursor: pointer;
        transition: 0.4s;
      }
      .SelectBox:hover {
        transform: scale(1.2);
      }
      p {
        text-align: center;
        margin: 0;
      }
    }
    .NN {
      .SelectBox {
        left: 20px;
      }
    }
  }
  .IntroductionTitle {
    color: $kis-color-ekyc-title;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  .Investor {
    .Title {
      margin: 0;
    }
    .RadioSection {
      display: flex;
      justify-content: center;
    }
    .RadioButton {
      display: flex;
      align-items: center;
      margin-right: 20px;
      input {
        margin-right: 8px;
      }
      label {
        margin: 0;
      }
    }
  }

  .NoteSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    .Note {
      display: grid;
      grid-template-columns: 30px 1fr;
      margin-bottom: 10px;
      .NoteText {
        margin-left: 10px;
        display: flex;
        align-items: center;
      }

      .NoteIndex {
        width: 30px;
        height: 30px;
        border-radius: 2px;
        background: $kis-color-ekyc-note;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }
    }
  }
}
