@import 'styles/variables.scss';

.EditCell {
  display: flex;
  justify-content: center;
  align-items: center;
  > .EditButton {
    color: var(--color-yellow-logo-light);
    margin-right: 10px;
    cursor: pointer;
  }
  > .DeleteButton {
    color: $color-dark__red;
    cursor: pointer;
  }
}
